<header class="header-section">
    <div class="container header-container">
        <nav class="header-nav">
            <a href="./index.html" class="header-nav-logo">watchcharm</a>
            <ul class="header-nav-list">
                <li class="header-nav-item">
                    <a href="./index.html" class="header-nav-link link-active">Home</a>
                </li>
                <li class="header-nav-item">
                    <a href="#about-us" class="header-nav-link">About Us</a>
                </li>
                <li class="header-nav-item">
                    <a href="#catalog" class="header-nav-link">Catalog</a>
                </li>
                <li class="header-nav-item">
                    <a href="#sale" class="header-nav-link">Sale</a>
                </li>
                <li class="header-nav-item">
                    <a href="#reviews" class="header-nav-link">Reviews</a>
                </li>
                <li class="header-nav-item">
                    <a href="#contact-us" class="header-nav-link">Contact Us</a>
                </li>
            </ul>
        </nav>
        <ul class="header-icons-list">
            <li class="header-icons-item">
                <a href="https://www.facebook.com/goITclub/" class="header-icons-link">
                    <svg class="header-icons-svg" width="20" height="20">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header-icons-item">
                <a href="https://www.instagram.com/goitclub/" class="header-icons-link">
                    <svg class="header-icons-svg" width="20" height="20">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-icons-item">
                <a href="https://www.youtube.com/c/GoIT" class="header-icons-link">
                    <svg class="header-icons-svg" width="20" height="20">
                        <use href="./img/icons.svg#icon-youtuber"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="header-button">
            <svg class="header-button-svg" width="28" height="14">
                <use href="./img/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>